body, div {
  padding: 0;
  margin: 0;
}

#burndown {
  margin: 20px 0 30px 0;
  text-align: center;
}

#burndown > .bluff-wrapper {
  margin: auto auto;
}

div#controls {
}

div#selections {
  width: 780px;
  margin: 0 auto;
}

div#selections div {
  width: 220px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}

div#selections div select {
  width: 100%;
  font-size: 12px;
}


/* --------------------------------------------- */
div#selections .fx1 div {
  margin: 0 0;
  padding: 0 0;
  border: 0;
  float: clear;
}

div#selections div.fx1 {
  margin: 0 0;
  padding: 0 0;
  text-align: center;
}

div#selections .fx1 div.title {
  margin: 0 0 0 0;
  padding: 1px 0 0 0;
  height: 24px;

  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  background: #333;
  color: #fff;
}

div#selections .fx1 div.it_c {
  margin: 4px 4px;
  padding: 0 0 0 0;
  width: 248px;
}
div#selections .fx1 div.it_c:hover {
  margin: 0 0 0 0;
  padding: 2px 2px;
  border: 2px dashed #999;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
}

div#selections .fx1 div.item {
  margin: 0 0 0 0;
  padding: 1px 0 0 0;
  height: 24px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background: #fff;
  color: #fff;
}

div#selections .fx1 div.edit {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 25px;
  height: 25px;

  cursor: pointer;

  display: none;
  float: right;
  background: transparent url(/images/edit.png) no-repeat;
}
div#selections .fx1 div.create_new div.edit {
  background: transparent url(/images/new.png) no-repeat;
}
div#selections .fx1 div.it_c:hover .edit {
  display: block;
}


.item_none {
  background: #fff;
  color: #333;
}
.item_hover {
  background: #f01020;
  color: #000;
}

.selected {
  background: #f01020 !important;
  color: #ffe !important;
  font-style: italic;
}

img.loading {
  vertical-align: middle;
  padding: 0 0 0 0.6em;
  margin: 0 -1.5em 0 0;
}
/* --------------------------------------------- */

/* --- HistoryDialog --------------------------- */
#working_days, div.working_days_overlay {
  overflow: hidden;
  height: 100px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

div.working_days_overlay {
  background: transparent url('/images/cylinder.png') repeat-x;
  border: 1px solid red;
}

div.history_dialog, div.history_dialog td, div.history_dialog input {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 16px;
}
div.history_dialog h1 {
  font-family: "arial black", "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
div.history_dialog p {
  margin: 0.5em 0 1em 0;
  padding: 0;
}
table.working_days {
  margin-top: 2em;
  padding-bottom: 2em;
  border: 0;
}
td.left {
  text-align: right;
  padding: 0 0.5 0 0 !important;
}
td.right {
  text-align: left;
  padding: 0 0 0 1.5em !important;
}
/* --------------------------------------------- */

/* ------------------ dialogs ------------------ */
.dialog {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 16px;
}
.dialog h1 {
  font-family: "arial black", "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.dialog label, span.label {
  font-size: 10px;
  font-weight: none;
  font-style: italic;
}
.dialog label {
  display: block;
}
.error {
  padding-top: 0;
  margin-top: 0;
  font-size: 10px;
  font-weight: bold;
  color: red;
  display: none;
}
.show_error {
  display: block;
}
.with_errors {
  border: 2px solid red;
}
/* --------------------------------------------- */

.jquery-ui-datepicker{
  margin-right: 4px;
}
