body, div {
  padding: 0;
  margin: 0;
}

#burndown {
  margin: 20px 0 30px 0;
}

#burndown div {
  margin: 0 auto;
  width: 600px;
}

canvas {
  margin: 0;
  padding: 0;
}

div#controls {
}

div#selections {
  width: 780px;
  margin: 0 auto;
}

canvas#iteration_chart {
/*  float: left;*/
}

div#selections div {
  width: 220px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}

div#selections div select {
  width: 100%;
  font-size: 12px;
}


/* --------------------------------------------- */
ul.fx1 {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.fx1 li {
  margin: 2px 0 2px 0;
  padding: 2px 0 4px 0;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background: #fff;
  color: #fff;
}
.fx1 li.title {
  font-weight: bold;
  background: #333;
  color: #fff;
  margin-bottom: 6px;
}

.item_none {
  background: #fff;
  color: #333;
}
.item_hover {
  background: #f01020;
  color: #000;
}

.selected {
  background: #f01020 !important;
  color: #ffe !important;
  font-style: italic;
}

img.loading {
  vertical-align: middle;
  padding: 0 0 0 0.6em;
  margin: 0 -1.5em 0 0;
}
/* --------------------------------------------- */

/* --- HistoryDialog --------------------------- */
#working_days {
  overflow: hidden;
  height: 100px;
}
div.history_dialog, div.history_dialog td, div.history_dialog input {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 16px;
}
div.history_dialog h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
div.history_dialog p {
  margin: 0.5em 0 1em 0;
  padding: 0;
}
table.working_days {
  margin-top: 2em;
  padding-bottom: 2em;
  border: 0;
}
td.left {
  text-align: right;
  padding: 0 0.5 0 0 !important;
}
td.right {
  text-align: left;
  padding: 0 0 0 1.5em !important;
}
/* --------------------------------------------- */


