<div id="statusbar_container">
  <div id="statusbar"></div>
</div>

<div id="burndown">
  <canvas id="iteration_chart">...</canvas>
</div>

<div id="controls">
  <div id="selections">
    <div id="projects"></div>
    <div id="iterations"></div>
    <div id="stories"></div>
  </div>
</div>
