<div id="burndown">
  <div id="chart">
  </div>
</div>

<div id="controls">
  <div id="selections">
    <div id="projects"></div>
    <div id="iterations"></div>
    <div id="stories"></div>
  </div>
</div>

<!-- <canvas id="canvas" /> -->