<div id="create_project_dialog" class="dialog">

  <h1>Create Project</h1>

  <% form_for Project.new do |f| %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%= f.submit 'Create', :onclick => 'document.fireEvent("project:save", this.form);return false' %>
    </p>

  <% end %>

</div>