<div id="footer-content">
  <p>

    <%= image_tag 'burnify-mini.gif' %><br/>
    <i>&rarr; Burndown charts for &forall;!</i><br/>
    <br/>
    hallo<br/> 
    hej<br/> 
    hi<br/> 
    welcome<br/>
    tach auch<br/> 
    ;-)
  </p>
</div>
