<div id="create_story_dialog" class="dialog">

  <h1>Create Story</h1>

  <%- form_for Story.new do |f| -%>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <p>
      <%= f.submit 'Create', :onclick => 'document.fireEvent("story:save", this.form);return false' %>
    </p>

  <%- end -%>

</div>